.panel {
  border: 1px solid #ccc;
  border-radius: 2px;
}

.panel-heading {
  font-weight: bold;
  padding: 20px;
  cursor: pointer;
}

.panel-body{
  padding: 20px;
}

.expanded {
  background-color: white;
}

.glyphicon {
  float: right;
}
