<form [formGroup]="form" class="header">

  <div class="selector">
    <select formControlName="security">
      <option *ngFor="let availableSecurity of availableSecurities" [ngValue]="availableSecurity">{{availableSecurity.name}}</option>
    </select>
  </div>

  <div class="switch-field">
    <label *ngFor="let range of availableRanges">
      <input type="radio" formControlName="range" [value]="range">
      {{ range.label }}
    </label>
  </div>

</form>

<div *ngIf="(securities$ | async); let security; else loading;">
  <app-security-detail [security]="security"></app-security-detail>
</div>

<ng-template #loading>
  LOADING..
</ng-template>
