.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.chart {
  height: 75vh;
  width: 80%;
  border: 1px #c9c9c9 solid;
  background-color: #fcfcfc;
  border-radius: 4px;
}
